* {
  margin: 0;
  padding: 0;
}
body {
  background: url("https://images.pexels.com/photos/9105589/pexels-photo-9105589.jpeg?auto=compress&cs=tinysrgb&w=600%27");
  filter: blur(none);
  background-size: cover;
}
.centered-text h1 {
  font-size: 300px;
  font-style: italic;
  color: cornsilk;
  text-align: center;
  margin-top: 180px;
}
.registration {
  position: absolute;
  top: 20px;
  right: 20px;
}
.registration a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
}
.registration a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: purple;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.registration a:hover {
  color: purple;
  transform: scale(1.1);
}
.registration a:hover::before {
  visibility: visible;
  width: 100%;
  left: 0;
}
.registration a::after {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0 0 20px rgba(128, 0, 128, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.registration a:hover::after {
  opacity: 1;
}

  